.label-icon-number {
    background-color: #6eafff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 33px;
    box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.3);
}

.label-icon-number-lg {
    background-color: #6eafff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 41px;
    box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.3);
}

.label-icon-text {
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    text-shadow: 0px 1px 1px #232323;
    color: #ebf9f5;
}

/*.label-icon-text:hover {*/
    /*color: #EDB229;*/
/*}*/

.label-icon-text-selected {
    color: #d9534f;
}

.label-icon-number-selected {
    box-shadow: 0px 0px 0px 7px rgba(255,140,0,0.6);
}
